// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;


// Custom colors
$dark-green: #116A7B;
$light-green: #C2DEDC;
$dark-beige: #CDC2AE;
$light-beige: #ECE5C7;

$clear-blue: #F1F6F9;
$navy: #14274E;
$mid-navy: #394867;
$grey-navy: #9BA4B4;
