.banner_home {
  width: 100%;
  height: 500px;
  background-position: center;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
}

.banner_home_two {
  background-color: $navy;
  height: 700px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.image_banner {
  width: 50%;
  height: 100%;
  object-fit: cover;
  border-radius: 50% 0 0 50%;
}

.title_banner {
  color: $clear-blue;
  font-size: 50px;
  text-shadow: 1px 4px 10px rgba(0, 0, 0, 0.3);
  margin-bottom: 0;
  width: 50%;
  padding: 10px;
  display: flex;
  flex-direction: column;

  span {
    color: $grey-navy;
  }
}

.office_presentation {
  background-color: $grey-navy;
  height: 300px;
}

.home_description {
  height: max-content;
  background-color: $grey-navy;
  padding: 5rem 9.5rem;

  h3,
  h5 {
    margin-bottom: 1.5rem;
  }

  .sub_description {
    margin-bottom: 2rem;
  }

  p {
    font-size: 18px;
  }
}

.card_container {
  display: flex;
  justify-content: space-between;
  margin: 80px 150px 150px 150px;
  height: 300px;
}

.card_content {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #9BA4B4;
  padding: 20px;
  border-radius: 5px 5px 50% 5px;
  gap: 20px;

  &:nth-child(odd) {
    border-radius: 5px 50% 5px 5px;
  }

  &.video:nth-child(even) {
    border-radius: 5px 50% 5px 5px;
  }
}

.card_photo {
  object-fit: contain;
  min-width: 100%;
  min-height: 100%
}

.card_photo_fill {
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px 50% 5px 5px;
}

.btn_infos {
  display: flex;
  align-items: center;
  background: rgba($navy, 0.8);
  width: max-content;
  color: $clear-blue;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 15px;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  transition: all .2s ease-in;

  p {
    margin: 0;
    margin-right: 10px;
  }

  &:hover {
    background: $navy;
    transition: all .2s ease-out;
  }
}

@media (max-width: 768px) {
  .card_container {
    margin: 30px 20px 0;
    gap: 0;
    flex-direction: column;
    height: auto;

    &:nth-child(odd) {
      flex-direction: column-reverse;
    }
  }

  .home_description {
    padding: 3rem 2rem;

    p {
      text-align: justify;
    }
  }

  .card_content.video:nth-child(odd) {
    border-radius: 5px 5px 50% 5px;
  }

  .card_content,
  .card_photo_fill {
    width: auto;
  }

  .card_content {
    border-radius: 5px 5px 50% 5px;

    &:nth-child(odd) {
      border-radius: 5px 5px 50% 5px;
    }
  }

  .banner_home_two {
    flex-direction: column;
    gap: 30px;
  }

  .title_banner {
    width: 100%;
  }

  .image_banner {
    width: 100%;
    border-radius: 50% 0 0 0%;
  }
}
