.banner_pages {
  background-color: $navy;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;

  h2 {
    margin: 0;
    font-size: 45px;
    color: $clear-blue;
    text-align: center;
    flex-grow: 1;

    span {
      color: $grey-navy;
    }
  }
}

.banner_pages.team {
  justify-content: space-between;
  height: 700px;
}

.image_banner.team {
  border-radius: 50% 0 0 0%;
}

.profiles_container {
  margin: 50px 150px 0px 150px;
  gap: 0 50px;
  justify-content: space-around;

  &.collab {
    justify-content: space-between;
    margin-top: 80px;
  }
}

.title_team {
  padding: 0;
  margin-bottom: 100px;
  text-align: center;
  font-size: 2.5rem;
  color: $mid-navy;

  &.collab {
    margin-bottom: 30px;
  }
}

.card_profile {
  border-radius: 5px;
  // overflow: hidden;
  box-shadow: 0 0px 17px rgba(0, 0, 0, 0.1);
  // flex-grow: 1;
  width: 25rem;

  &.collab {
    width: auto;
    flex-grow: 1;
  }
}

.card_bg {
  height: 80px;
  background: $mid-navy;
  position: relative;
  border-radius: 5px 5px 0 0;
}

.card_profile_content {
  padding: 20px 20px;

  h6 {
    font-size: 20px;
    margin: 0;
    text-align: center;
  }

  .work_title {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: $mid-navy;
  }
}

.profile_description {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.presentation_collab,
.description_collab {
  margin-bottom: 100px;
  font-size: 18px;
  padding: 0;
}

.description_collab {
  margin-bottom: 0;
  margin-top: 50px;
}

// Min-width: 320px (smaller phone viewpoints)
// Min-width: 480px (small devices and most phones)
// Min-width: 768px (most tablets)
// Min-width: 992px (smaller desktop viewpoints)
// Min-width: 1200px (large devices and wide screens)

@media (max-width: 480px) {
  .profiles_container {
    margin: 50px;
  }

  .card_profile.-m {
    margin-bottom: 6rem;
  }

  .banner_pages.team {
    height: 350px;
  }

  .image_banner.team {
    display: none;
  }
}
