<%# Small screen toggle %>
<div class='menu_small_screen'>
  <input id="toggleChecker" type="checkbox" data-dropdown-target='burger'>
  <label id="togglerLable" for="toggleChecker" data-action='click->dropdown#toggleDropdown'>
    <div class="checkboxtoggler">
      <div class="line-1"></div>
      <div class="line-2"></div>
      <div class="line-3"></div>
    </div>
  </label>
</div>

<div id="dropdown_menu" data-dropdown-target='menu'>
  <ul>
    <li><%= link_to 'Accueil', root_path  %></li>
    <li><%= link_to 'Équipe', equipe_path %></li>
    <li><%= link_to 'Équipement', equipement_path %></li>
    <li><%= link_to 'Informations', informations_pratiques_path %></li>
    <%# <li><a>Contact</a></li> %>
  </ul>
</div>
