<div class='footer_container'>

  <div class="site__infos">
    <%# INFOS IN FOOTER %>
    <div class="infos_footer">
      <div class="info_footer">
        <span class="material-symbols-outlined">call</span>
        <p>02 38 54 33 33</p>
      </div>
      <div class="info_footer">
        <span class="material-symbols-outlined">mail</span>
        <p>ortho.chatelet@gmail.com</p>
      </div>
      <div class="info_footer">
        <span class="material-symbols-outlined">location_on</span>
        <p>Pl. du Châtelet, 45000 Orléans</p>
      </div>
      <div class="info_footer schedule">
        <span class="material-symbols-outlined">schedule</span>
        <div class="info_schedule">
          <p><strong>Lun - Ven : 09:00 - 12:30 | 14:00 - 17:30</strong></p>
        </div>
      </div>
    </div>

    <%# WEBSITE MAP %>
    <div class="site_map">
      <h5>Plan Du Site</h5>
      <p>
        <%= link_to 'Accueil', root_path %>
      </p>
      <p>
        <%= link_to 'Équipe', equipe_path %>
      </p>
      <p>
        <%= link_to 'Équipement', equipement_path %>
      </p>
      <p>
        <%= link_to 'Informations', informations_pratiques_path %>
      </p>
    </div>
  </div>

  <div class='copyright_footer'>&#169; Copyright <a href="https://www.ortho-chatelet.com/">Ortho Chatelet</a> | Site réalisé par <a href="https://www.linkedin.com/in/thibault-chassine-772070a5/">Thibault Chassine</a></div>

  <% if params[:action] == 'home' %>
    <div class='copyright_footer'><a href="https://storyset.com/business">Business illustrations by Storyset</a></div>
  <% end %>
</div>
