<div class='footer_container'>

  <div class="site__infos">
    <%# INFOS IN FOOTER %>
    <div class="infos_footer">
      <div class="info_footer">
        <span class="material-symbols-outlined">call</span>
        <p>02 38 54 33 33</p>
      </div>
      <div class="info_footer">
        <span class="material-symbols-outlined">mail</span>
        <p>ortho.chatelet@gmail.com</p>
      </div>
      <div class="info_footer">
        <span class="material-symbols-outlined">location_on</span>
        <p>Pl. du Châtelet, 45000 Orléans</p>
      </div>
      <div class="info_footer schedule">
        <span class="material-symbols-outlined">schedule</span>
        <div class="info_schedule">
          <p><strong>Mar - Mer - Ven : 08:30 - 12:00 | 14:00 - 18:00</strong></p>
          <p>Jeu : 09:00 - 12:00</p>
        </div>
      </div>
    </div>

    <%# WEBSITE MAP %>
    <div class="site_map">
      <h5>Plan Du Site</h5>
      <p>Accueil</p>
      <p>Le Cabinet</p>
      <p>Documentation</p>
      <p>Contact</p>
    </div>
  </div>

  <div class='copyright_footer'>&#169; Copyright <a href="https://www.ortho-chatelet.com/">Ortho Chatelet</a> | Site réalisé par <a href="https://www.linkedin.com/in/thibault-chassine-772070a5/">Thibault Chassine</a></div>
</div>
