<div class='navigation_container'>
  <div class='nav_item_container'>
    <a class="nav_item" href='/home'>
      ACCUEIL
    </a>
    <div class='hover_nav_item'></div>
  </div>
  <div class='nav_item_container'>
    <a href='#' class="nav_item">
      LE CABINET
    </a>
    <div class='hover_nav_item'></div>
  </div>
  <div class='nav_item_container'>
    <a href='/documentation' class="nav_item">
      DOCUMENTATION
    </a>
    <div class='hover_nav_item'></div>
  </div>
  <div class='nav_item_container'>
    <a href='#' class="nav_item">
      CONTACT
    </a>
    <div class='hover_nav_item'></div>
  </div>
</div>
