<div class="navbar_container" data-controller='dropdown'>
  <div><%= link_to 'Ortho Châtelet', root_path, class: 'link_home_navbar'  %></div>

  <%# Office details %>
  <div class="info_office">
    <%# Phone infos %>
    <div class="office_details">
      <span class="material-symbols-outlined">call</span>
      <div class="office__detail">
        <p><strong>Téléphone</strong></p>
        <p>02 38 54 33 33</p>
      </div>
    </div>

    <%# Schedule infos %>
    <div class="office_details">
      <span class="material-symbols-outlined">schedule</span>
      <div class="office__detail">
        <p><strong>Lun - Ven : 09:00 - 12:30 | 14:00 - 17:30</strong></p>
      </div>
    </div>

    <%# Mail infos %>
    <div class="office_details">
      <span class="material-symbols-outlined">mail</span>
      <div class="office__detail">
        <p><strong>Mail</strong></p>
        <p>ortho.chatelet@gmail.com</p>
      </div>
    </div>
  </div>

  <%# Dropdown menu small screens %>
  <%= render 'shared/dropdown_menu' %>
</div>
