<div class='navigation_container'>
  <div class='nav_item_container'>
    <%= link_to root_path, class: 'nav_item' do  %>
      ACCUEIL
    <% end %>
    <div class='hover_nav_item'></div>
  </div>
  <div class='nav_item_container'>
    <a href='/equipe' class="nav_item">
      ÉQUIPE
    </a>
    <div class='hover_nav_item'></div>
  </div>
  <div class='nav_item_container'>
    <a href='/equipement' class="nav_item">
      ÉQUIPEMENT
    </a>
    <div class='hover_nav_item'></div>
  </div>
  <div class='nav_item_container'>
    <a href='/informations-pratiques' class="nav_item">
      INFORMATIONS
    </a>
    <div class='hover_nav_item'></div>
  </div>
</div>
