<div class='navigation_container'>
  <div class="nav_item">
    ACCUEIL
  </div>
  <div class="nav_item">
    LE CABINET
  </div>
  <div class="nav_item">
    DOCUMENTATION
  </div>
  <div class="nav_item">
    CONTACT
  </div>
</div>
