<div class="navbar_container">
  <%= image_tag 'logo_one.png', alt: "Ortho Châtelet Logo", class: 'logo_navbar' %>

  <%# Office details %>
  <div class="info_office">
    <%# Phone infos %>
    <div class="office_details">
      <span class="material-symbols-outlined">call</span>
      <div class="office__detail">
        <p><strong>Téléphone</strong></p>
        <p>02 38 54 33 33</p>
      </div>
    </div>

    <%# Schedule infos %>
    <div class="office_details">
      <span class="material-symbols-outlined">schedule</span>
      <div class="office__detail">
        <p><strong>Mar - Mer - Ven : 08:30 - 12:00 | 14:00 - 18:00</strong></p>
        <p>Jeu : 09:00 - 12:00</p>
      </div>
    </div>

    <%# Mail infos %>
    <div class="office_details">
      <span class="material-symbols-outlined">mail</span>
      <div class="office__detail">
        <p><strong>Mail</strong></p>
        <p>ortho.chatelet@gmail.com</p>
      </div>
    </div>
  </div>
</div>
