<div class="card_container">
  <div class="card_content">
    <h4>Notre Equipe</h4>
    <p>Rencontrez notre équipe dévouée de professionnels dentaires, prêts à vous offrir des soins de qualité et un accueil chaleureux.</p>
    <a class='btn_infos' href='/equipe'><p>Plus d'infos</p> <span class="material-symbols-outlined">chevron_right</span></a>
  </div>

  <div class='card_photo_fill'><%= image_tag 'team_illustration.png', alt: "Photo Cabinet", class: 'card_photo' %></div>
</div>

<div class="card_container">
  <div class='card_photo_fill'><%= image_tag 'faqs_static.png', alt: "Photo Cabinet", class: 'card_photo' %></div>

  <div class="card_content">
    <h4>Informations Pratiques</h4>
    <p>Accédez à nos conseils pratiques et informations utiles pour faciliter votre expérience au sein de notre cabinet dentaire, tout est pensé pour votre confort.</p>
    <a class='btn_infos' href='/informations-pratiques'><p>Plus d'infos</p> <span class="material-symbols-outlined">chevron_right</span></a>
  </div>
</div>
