<%# Banner homepage %>
<div class="banner_home" style='background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(<%= image_path 'banner.jpg' %>)'>
  <h1 class='title_banner'><span><strong>Ortho</strong></span> Châtelet</h1>
</div>

<%# Office présentation %>
<div class="office_presentation">
  <div class="presentation_content">
    <%= image_tag 'office.jpg', alt: "Photo Cabinet" %>
    <div class="content">
      <h4>Le Cabinet</h4>
      <div>Cabinet dentaire situé en plein centre d'Orléans, pour des soins dentaires et ortho.</div>
      <span>Plus d'infos</span>
    </div>
  </div>
</div>
