<div class="bg_construction">
  <div class='container_construction'>
    <h1>Nouveau site en construction</h1>
    <%= image_tag 'construction.svg', alt: "Construction Animation", class: 'construction_animation' %>
    <p>Nous nous excusons pour la gêne occasionnée</p>
  </div>
</div>
