<div class="banner_pages">
  <h2><span>Informations Pratiques</span></h2>
</div>
<div class='home_description doc -f'>
  <h3>L’orthodontie est possible de l’enfance à un âge même avancé</h3>

  <p>
    Plus le traitement sera précoce, plus la prise en charge sera préventive : ainsi la mise en place de traitements fonctionnels, d’aide
    à une bonne croissance permettra au <strong>petit patient</strong> de bien grandir et facilitera l’arrivée en bonne place de sa denture permanente.
  </p>

  <p>
    <strong>Chez l’adolescent</strong>, l’orthodontie va permettre de réaligner les dents déjà en place afin de permettre une bonne mastication mais aussi
    d’obtenir un beau sourire !
  </p>

  <p>
    <strong>Chez l’adulte</strong>, même âgé, le traitement permettra l’améliorer ou tout simplement de conserver une bonne santé dentaire et ainsi de
    préserver la pérennité de ses dents !
  </p>

  <p>
    Et comme de bonnes dents bien implantées tant dans les mâchoires que dans le sourire sont fonctionnelles et stables dans le temps, la
    beauté du sourire en est aussi le résultat !
  </p>

  <p>Les Praticiens du cabinet corrigent les malpositions dentaires pour rétablir une <strong>denture fonctionnelle et esthétique</strong>.</p>

  <p>
    Tous les systèmes répondant aux progrès de la science sont mis à disposition des patients afin de leur proposer un <strong>traitement
    individualisé et de qualité</strong> qui leur garantira un résultat optimal.
  </p>
</div>

<div class='home_description doc -b'>
  <h3>Qu’est-ce que l’orthodontie ?</h3>

  <p>
    L’orthodontie ou l’orthopédie dento-faciale est l’art de prévenir et corriger les malpositions dentaires, les malformations des mâchoires,
    les problèmes de mastication afin de maintenir un équilibre dentaire et osseux harmonieux.
  </p>
  <p>Le but étant de mettre en place une denture fonctionnelle et esthétique.</p>
  <p>Les dents bien alignées facilitent le brossage ce qui limite le risque de caries et les problèmes gingivaux.</p>
  <p>
    Une relation équilibrée entre les mâchoires garantit une bonne mastication, une bonne digestion, une respiration nasale, une bonne
    élocution et une croissance harmonieuse : donc une meilleure santé générale !
  </p>
  <p>Un beau sourire : c’est une intégration sociale plus facile et une meilleur confiance en soi !</p>

  <%# First visit %>
  <h5 class='sub_title_info'>Première visite au cabinet :</h5>
  <p>
    Tout en prenant connaissance des attentes du patient et ou de ses parents, le praticien observe l’environnement buccal du patient,
    repère d’éventuels problèmes d’élocution, de symétrie…
  </p>
  <p>Puis le patient s’installe sur le fauteuil avec un miroir pour un examen des dents bien-sur, mais aussi de la façon de mastiquer.</p>
  <p>Nous avons à coeur d’expliquer les résultats de notre examen à tous nos patients quelque soit leur âge !</p>
  <p>A cette première étape, il est parfois nécessaire de réaliser des clichés photographiques, voir une radio panomique.</p>

  <%# The diagnostic %>
  <h5 class='sub_title_info'>Le diagnostic :</h5>
  <p>
    Si un traitement semble nécessaire, il y aura besoin d’examens supplémentaires pour établir un <strong>diagnostic</strong> affiné.
    Cela se fera lors du rendez-vous de bilan.
  </p>
  <p>Nous vous donnerons alors un deuxième rendez pour réaliser :</p>

  <span class='list_equipement_item'>
    <span class="material-symbols-outlined arrow_list">arrow_right_alt</span>
    Des Photos
  </span>
  <span class='list_equipement_item'>
    <span class="material-symbols-outlined arrow_list">arrow_right_alt</span>
    Un bilan radiographique (sauf si des radios ont déjà été effectuées ailleurs) : ce sont aujourd’hui’hui des radios numériques très peu
    irradiantes
  </span>
  <span class='list_equipement_item'>
    <span class="material-symbols-outlined arrow_list">arrow_right_alt</span>
    Des moulages numériques (plus de mauvais goût ou de sensation d’étouffement : juste un scanner sous forme de stylo qui passé sur
    les dents les numérisent)
  </span>

  <p>
    Après étude des éléments récoltés et réflexion entre les deux praticiens, le plan de traitement sera mis en place et expliqué aux
    patient et ses parents s’il est mineur.
  </p>
  <p>Un devis, des fiches explicatives et une éventuelle prise en charge par la sécurité sociale vous seront remises.</p>

  <%# The treatment %>
  <h5 class='sub_title_info'>Le traitement :</h5>
  <p>La durée d’un traitement orthodontique varie de 6 à 36 mois en fonction de la difficulté et de la coopération du patient.</p>
  <p>La fréquence des rendez-vous de contrôle et d’activation après la pose de l’appareil varie entre 4 et 8 semaines.</p>
  <p>
    Le traitement orthodontique classique se déroule en 2 temps : le temps de la correction : traitement à proprement parlé et le
    temps de la stabilisation : la contention.
  </p>
  <p>Le temps de correction peut se faire en 1 seule ou plusieurs phases séparées par des périodes de surveillance, selon la situation.</p>
  <p>
    La contention est une phase essentielle qu’il convient de ne pas négliger car elle conduit à la stabilité du traitement et
    donc au maintien des résultats.
  </p>
</div>

<div class='home_description doc -b'>
  <h3>Les Différents appareils orthodontiques</h3>

  <h5 class='sub_title_info'>L’appareil multiattache :</h5>
  <span class='list_equipement_item'>
    <span class="material-symbols-outlined arrow_list">arrow_right_alt</span>
    Des attaches aussi appelées Brackets sont collées sur la face externe ou interne des dents. Elles permettent de poser un fil semi
    rigide : arc qui est à l’origine du mouvement dentaire.
  </span>
  <span class='list_equipement_item'>
    <span class="material-symbols-outlined arrow_list">arrow_right_alt</span>
    Il est parfois nécessaire de poser des vraies bagues le plus souvent sur les molaires : elles font le tour de la dent et peuvent recevoir
    d’autre éléments que l’arc et ou les élastiques.
  </span>

  <h5 class='sub_title_info'>Les gouttières ou Aligners :</h5>
  <span class='list_equipement_item'>
    <span class="material-symbols-outlined arrow_list">arrow_right_alt</span>
    Les progrès du numérique ont permis de traiter les patients avec des séries de gouttières amovibles transparentes.
  </span>
  <span class='list_equipement_item'>
    <span class="material-symbols-outlined arrow_list">arrow_right_alt</span>
    Le résultat est similaire à celui des attaches mais présentent un avantage esthétique majeur.
  </span>
  <span class='list_equipement_item'>
    <span class="material-symbols-outlined arrow_list">arrow_right_alt</span>
    Elles sont particulièrement précipitées par les adultes, mais aussi par quelques enfants et adolescents.
  </span>

  <h5 class='sub_title_info'>Les appareils fonctionnels :</h5>
  <span class='list_equipement_item'>
    <span class="material-symbols-outlined arrow_list">arrow_right_alt</span>
    Ils permettent de corriger des décalages entre les deux mâchoires.
  </span>
  <span class='list_equipement_item'>
    <span class="material-symbols-outlined arrow_list">arrow_right_alt</span>
    Favorisant le bon développement des mâchoires, ils sont particulièrement interessants pour des enfants en période de croissance.
    Ils peuvent être portés dès le plus jeune âge, vers 3 à 4 ans).
  </span>

  <h5 class='sub_title_info'>Les appareils d’expansion :</h5>
  <span class='list_equipement_item'>
    <span class="material-symbols-outlined arrow_list">arrow_right_alt</span>
    Pour les palais trop étroits, les mâchoires trop petites, ces appareils fixes ou amovibles permettre une expansion, libérant ainsi de la
    place pour la mise en place des dents lors de la croissance ou simplement l’adaptation des mâchoires entre elles.
  </span>

  <h5 class='sub_title_info'>Les accessoires orthodontistes :</h5>
  <span class='list_equipement_item'>
    <span class="material-symbols-outlined arrow_list">arrow_right_alt</span>
    Les élastiques intermaxillaires , les minivis, l’enveloppe linguale nocture sont des aides précieuses et souvent indispensables au
    déroulement du traitement.
  </span>
  <span class='list_equipement_item'>
    <span class="material-symbols-outlined arrow_list">arrow_right_alt</span>
    Les force extra-orales souvent vues dans les dessins animés ou autre film ( Némo, Charly et la chocolaterie par exemple), peuvent aujourd’hui
    être le plus souvent remplacées par d’autres méthodes. Seuls quelques cas particuliers nécessitent un appui extra-oral amovible pour
    l’appareil orthodontie.
  </span>

  <h5 class='sub_title_info'>Les appareils de finitions :</h5>
  <span class='list_equipement_item'>
    <span class="material-symbols-outlined arrow_list">arrow_right_alt</span>
    Ce sont des appareils élastomériques amovibles qui devront être portés pendant une courte durée ( 3/4 mois) et permettront aux dents de
    mastiquer librement tout en étant « surveillées » par l’appareillage la nuit et quelques heures dans la journée.
  </span>

  <h5 class='sub_title_info'>Les appareils de contention :</h5>
  <span class='list_equipement_item'>
    <span class="material-symbols-outlined arrow_list">arrow_right_alt</span>
    Ces appareils sont utilisés en prolongement du traitement orthodontie afin d’en consolider le résultat.
  </span>
  <span class='list_equipement_item'>
    <span class="material-symbols-outlined arrow_list">arrow_right_alt</span>
    C’est une période essentielle à respecter pour le maintien du bénéfice acquis.
  </span>
  <span class='list_equipement_item'>
    <span class="material-symbols-outlined arrow_list">arrow_right_alt</span>
    Les appareil de contention fixes sont des attelles collées sur l’intérieur des dents antérieures.
  </span>
  <span class='list_equipement_item'>
    <span class="material-symbols-outlined arrow_list">arrow_right_alt</span>
    Les appareils de contention amovibles sont des gouttières, des plaques.
  </span>
</div>
