<div class="banner_pages">
  <h2><span>Documentations</span></h2>
</div>

<div class="card_container">
  <div class="card_content video">
    <h4>Orthondotie</h4>
    <p>Deserunt cupidatat voluptate irure voluptate fugiat duis ullamco sunt commodo adipisicing enim labore occaecat. Deserunt minim commodo do ut mollit sint. Sint ullamco qui id et nulla eu dolor velit consequat.</p>
  </div>

  <iframe id='video_doc' src="https://www.youtube.com/embed/1v0fNgLf67E" title="Que faire si le fil orthodontique blesse ? Urgence orthodontie" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>

<div class="card_container">
  <iframe id='video_doc' src="https://www.youtube.com/embed/1v0fNgLf67E" title="Que faire si le fil orthodontique blesse ? Urgence orthodontie" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

  <div class="card_content video">
    <h4>Orthondotie</h4>
    <p>Deserunt cupidatat voluptate irure voluptate fugiat duis ullamco sunt commodo adipisicing enim labore occaecat. Deserunt minim commodo do ut mollit sint. Sint ullamco qui id et nulla eu dolor velit consequat.</p>
  </div>
</div>

<div class="card_container">
  <div class="card_content video">
    <h4>Orthondotie</h4>
    <p>Deserunt cupidatat voluptate irure voluptate fugiat duis ullamco sunt commodo adipisicing enim labore occaecat. Deserunt minim commodo do ut mollit sint. Sint ullamco qui id et nulla eu dolor velit consequat.</p>
  </div>

  <iframe id='video_doc' src="https://www.youtube.com/embed/1v0fNgLf67E" title="Que faire si le fil orthodontique blesse ? Urgence orthodontie" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>
