<div class="banner_home_two">
  <h1 class='title_banner'>
    Ortho Châtelet
    <span>Le Sourire du Châtelet</span>
  </h1>
  <%= image_tag 'images_office/image_home.jpeg', alt: "Image d'acceuil", class: 'image_banner' %>
</div>

<div class='home_description <%= @check_browser && @check_mobile ? '--browser' : '' %>'>
  <h3>Bienvenue au Cabinet d’Orthodontie du Châtelet-Orléans cœur de ville.</h3>
  <p class='sub_description'>Les docteurs Marianne Boulenguiez et Charles Cousin, ainsi que toute leur équipe sont heureux de vous accueillir sur leur site internet destiné à vous donner les meilleurs informations pédagogiques et conseil sur l’orthodontie.</p>

  <h5>Où sommes nous ?</h5>
  <p>Situé au 1 place du Châtelet et plein centre d'Orléans, le cabinet vous recevra pour un diagnostic, des conseils et si besoin, une prise en charge orthodontique.</p>
  <p>Au premier étage du centre commercial, l’accès peut se faire depuis l’entrée Est (boutique Bouchara et Eurêka), vous aurez alors à prendre l’ascenseur, ou directement depuis le premier étage du parking public du Châtelet.</p>
  <p>Le cabinet est accessible à tous. Il est conventionné aux normes PMR.</p>
</div>

<%= render 'cards_home' %>
