<div class="banner_home_two">
  <h1 class='title_banner'>Des soins dentaires de <span>qualité</span> pour un sourire radieux</h1>
  <%= image_tag 'banner.jpg', alt: "Image d'acceuil", class: 'image_banner' %>
</div>

<div class="card_container">
  <div class="card_content">
    <h4>Notre Cabinet</h4>
    <p>Deserunt cupidatat voluptate irure voluptate fugiat duis ullamco sunt commodo adipisicing enim labore occaecat. Deserunt minim commodo do ut mollit sint. Sint ullamco qui id et nulla eu dolor velit consequat.</p>
    <a class='btn_infos'><p>Plus d'infos</p> <span class="material-symbols-outlined">chevron_right</span></a>
  </div>

  <%= image_tag 'office.jpg', alt: "Photo Cabinet", class: 'card_photo' %>

</div>

<div class="card_container">
  <%= image_tag 'team.jpg', alt: "Photo Cabinet", class: 'card_photo' %>

  <div class="card_content">
    <h4>Notre Equipe</h4>
    <p>Deserunt cupidatat voluptate irure voluptate fugiat duis ullamco sunt commodo adipisicing enim labore occaecat. Deserunt minim commodo do ut mollit sint. Sint ullamco qui id et nulla eu dolor velit consequat.</p>
    <a class='btn_infos'><p>Plus d'infos</p> <span class="material-symbols-outlined">chevron_right</span></a>
  </div>
</div>

<div class="card_container">
  <div class="card_content">
    <h4>Documentation</h4>
    <p>Deserunt cupidatat voluptate irure voluptate fugiat duis ullamco sunt commodo adipisicing enim labore occaecat. Deserunt minim commodo do ut mollit sint. Sint ullamco qui id et nulla eu dolor velit consequat.</p>
    <a class='btn_infos'><p>Plus d'infos</p> <span class="material-symbols-outlined">chevron_right</span></a>
  </div>

  <%= image_tag 'documentation.jpg', alt: "Photo Cabinet", class: 'card_photo' %>
</div>
