<div class="banner_pages">
  <h2>Notre <span>Équipement</span></h2>
</div>

<div class='home_description first_container'>
  <h3>Les équipements de notre cabinet</h3>

  <p>
    La cabinet est exclusivement dédié aux soins orthodontiques des enfants, des adolescents et des adultes.
     Soucieux de rester à la pointe de la technologie afin de mieux vous soigner, notre cabinet utilise les technologies les plus récentes.
  </p>

  <p>Notre plateau technique est doté de :</p>

  <div class='equipment_description_container'>
    <span class='list_equipement_item'>
      <span class="material-symbols-outlined arrow_list">arrow_right_alt</span>
      3 salles de soins séparées
    </span>

    <div class='images_equipment_container'>
      <%= image_tag 'images_office/camera_optic.jpg', alt: "Caméra d'empreinte optique", class: 'image_equipment' %>
      <%= image_tag 'images_office/dentist_appointment.jpg', alt: "Soin dentaire", class: 'image_equipment' %>
      <%= image_tag 'images_office/dentist_radio.jpg', alt: "Radio dentaire", class: 'image_equipment' %>
    </div>

    <span class='list_equipement_item'>
      <span class="material-symbols-outlined arrow_list">arrow_right_alt</span>
      1 salle de diagnostic et de communication avec vidéo explicatives
    </span>
    <span class='list_equipement_item'>
      <span class="material-symbols-outlined arrow_list">arrow_right_alt</span>
      1 salle de stérilisation répondant aux normes sanitaires en vigueur
    </span>
    <span class='list_equipement_item'>
      <span class="material-symbols-outlined arrow_list">arrow_right_alt</span>
      Une radio panoramique, téléradiographie et scanner
    </span>
    <span class='list_equipement_item'>
      <span class="material-symbols-outlined arrow_list">arrow_right_alt</span>
      1 caméra d’empreinte optique
    </span>
    <span class='list_equipement_item'>
      <span class="material-symbols-outlined arrow_list">arrow_right_alt</span>
      <span>Une borne d’accueil pour signaler son arrivée si le secrétariat est occupé.</span>
    </span>
    <span class='list_equipement_item no_margin_top'>
      <span class="material-symbols-outlined arrow_list to_hide">arrow_right_alt</span>
      <span>Grâce à notre plateau technique, tous les examens complémentaires sont réalisés sur place.</span>
    </span>

  </div>
</div>

<div class='home_description second_container'>
  <h3>Application Dentapoche</h3>

  <div class="equipment_description_container -app">
    <div class='presentation_app'>
      <span class='list_equipement_item'>
        Nous mettons à la disposition de chaque patient depuis une application sur smartphone et ou tablette, l’intégralité de son dossier orthodontique :
      </span>
      <span class='list_equipement_item'>
        <span class="material-symbols-outlined arrow_list">arrow_right_alt</span>
        Ses photos : ainsi il pourra voir les progrès de son traitement
      </span>
      <span class='list_equipement_item'>
        <span class="material-symbols-outlined arrow_list">arrow_right_alt</span>
        Ses radios : pour pouvoir les communiquer à son dentiste si besoin
      </span>
      <span class='list_equipement_item'>
        <span class="material-symbols-outlined arrow_list">arrow_right_alt</span>
        Ses fiches de traitement lui rappelant toutes les consignes de port, les conseils...
      </span>
      <span class='list_equipement_item'>
        <span class="material-symbols-outlined arrow_list">arrow_right_alt</span>
        Ses rendez-vous avec rappel par SMS afin de ne jamais nous oublier
      </span>
      <span class='list_equipement_item'>
        <span class="material-symbols-outlined arrow_list">arrow_right_alt</span>
        Son suivi administratif
      </span>
      <span class='list_equipement_item'>
        <span class="material-symbols-outlined arrow_list">arrow_right_alt</span>
        Un espace de communication avec le cabinet afin qu’aucune question ne reste sans réponse !
      </span>
    </div>

    <%= image_tag 'images_office/dentapoche.jpeg', alt: "Présentation app Dentapoche", class: 'image_equipment -app' %>
  </div>
</div>
