<div class='error_container'>
  <h1 class='error_code'>500</h1>
  <p>Veuillez nous excuser, il semble que quelque chose n'a pas fonctionné.</p>
  <p>Vous pouvez retourner à la page d'accueil en cliquant sur <%= link_to 'ce lien', root_path, class: 'back_home' %>.</p>
</div>
