.navbar_container {
  height: 100px;
  display: flex;
  align-items: center;
  margin: 0 10px;
  justify-content: space-between;
  position: relative;

  a {
    height: 70%;
  }
}

.logo_navbar {
  height: 100%;
}

.info_office {
  display: flex;
  font-size: 13px;
}

.office_details {
  display: flex;
  align-items: center;
  padding: 0px 20px;

  &:nth-child(2) {
    margin: 0 20px;
    border-left: 1px solid $grey-navy;
    border-right: 1px solid $grey-navy;
    padding: 0px 30px;
  }

  span {
    color: $navy;
    margin-right: 10px;
  }
}

.office__detail p {
  margin: 0;

  &:nth-child(2) {
    color: $grey-navy;
  }
}

.menu_small_screen {
  display: none;
  transform: scale(0.6);
}

#dropdown_menu {
  position: absolute;
  top: 100px;
  background: #F1F6F9;
  overflow: hidden;
  width: 110%;
  right: -10px;
  max-height: 0;
  display: none;
  transition: max-height .2s ease-in;

  ul {
    margin: 0;
    padding: 0;

    li {
      list-style-type: none;
      text-align: end;
      padding: 15px 20px;

      a {
        text-decoration: none;
        color: inherit;
      }
    }
  }
}

#dropdown_menu.active {
  max-height: 500px;
  transition: max-height .2s ease-out;
}

@media (max-width: 768px) {
  .info_office {
    display: none;
  }

  .menu_small_screen {
    display: flex;
  }

  #dropdown_menu {
    display: block;
  }
}
